
ul.nav.justify-content-start.text-uppercase
    li.nav-item.text-center
        a.nav-link.active(href="/") accueil / utilisateurs
    li.nav-item.text-center
        a.nav-link(href="/login") Connection
