doctype html
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(name="description" content="une appli pwa avec pug")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //- link(rel="manifest" href="../manifest.json")
        //- script(src="scripts/bootstrap.min.js")
        //- link(href='styles/bootstrap.min.css' rel='stylesheet' )
        link(href='styles/main.scss' rel='stylesheet' )
        title PWA test
    body
        include _navbar
        .container
            block content

        //- script(src="../loader.js")