extends _layout
block content
    h1 Test
    h2 pug c'est trop de la balle!

    if users.length
        .card-group
            each user in users
                .card.w-50()
                    img(src=user.avatar class="card-top-img" alt="avatar" width="200")
                    .card-content
                        p= user.firstname
                        p= user.lastname
                        p= user.email
                        //- p= user.firstname
    else
        p no user yet

